{{ define "main" }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "post" }}
{{ end }}

<!-- Pinned Post -->
{{ if .Site.Params.pin_post_on_homepage }}
{{ range first 1 .Site.Taxonomies.categories.pinnedpost }}
<article class="post-entry-content pinned-post-entry-content">
  <section class="post-content pinned-post-content">{{ .Content }}</section>
</article>
{{ end }}
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}
  {{ if .Site.Params.full_content_on_homepage }}
    <article class="post-entry-content">
      {{ if .Title }}
        <h2>{{ .Title }}</h2>
      {{ end }}
      {{ if in .Params.categories "songalog" }} 🎧 {{ end }}
      {{ if in .Params.categories "linkblog" }} 💘 {{ end }}
      {{ if in .Params.categories "text" }} ⚡️ {{ end }}
      {{ if in .Params.categories "photos" }} 📸 {{ end }}
      <time> ⌘ {{ .Date | time.Format ":date_medium" }} ⌘ </time>
      <a class="post-metadata" href="{{ .Permalink }}"> Permalink</a>
      <section class="post-content">{{ .Content }}</section>
    
    </article>
    <hr class="post-separator">
  {{ else }}
    <article class="post-entry">
      {{ if .Title }}
        <h2>{{ .Title }}</h2>
      {{ end }}
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      <p>{{ .Summary | truncate 300 }}</p>
      <a href="{{ .Permalink }}"></a>
    </article>
  {{ end }}
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← Prev Page</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">Next Page →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
